@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;400;600&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: #202C3C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  font-family: 'Martian Mono', monospace;
}

form{
  max-width: 200px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
}

label{
  margin: 10px;
}

button{
  margin-top: 20px;
  padding: 10px;
  background-color: aliceblue;
  color: #202C3C;
  font-family: 'Martian Mono', monospace;
  cursor: pointer;
  border-style: none;
}

button:hover{
  background-color: #202C3C;
  color: aliceblue;
  border: 2px solid aliceblue;
}

.nav{
  list-style: none;
  display: flex;
  gap: 10px;
}

.error-message{
  background-color:#DA4167;
  padding: 10px;
  border: 2px solid white;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

input{
  padding: 10px;
  font-family: 'Martian Mono', monospace;
}

li, a{
  text-decoration: underline; 
  color: aliceblue;
}